.projects {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ceddfd;
}

.projects h1 {
  font-size: 50px;
  font-weight: 600;
  color: #000000;
}

.project-gallery {
  /* background-color: red; */
  padding: 50px;
  /* padding-top: 30px; */
  font-size: 20px;
  font-weight: 600;
  text-justify: auto;
  color: #000000;
}

.gallery {
  z-index: -1;
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
  background-color: #ffffff;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  /* width: 100%;
    height: auto; */
  height: 150px;
  width: auto;
  max-width: 100%;
  opacity: 1;
}
.gallery img:hover {
  opacity: 0.6;
}

.desc {
  padding: 20px;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
